@{
    ViewBag.Title = "Home Page";
}

<div class="overlay">
    <div class="container">
        <div class="animate js-animate"> <img class="js-gif gif" src="/assets/images/wizard.gif"></div>
        <div class="text-box js-text-box">Text in here</div>
        <iframe src="/assets/sounds/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
    </div>
</div>
<div class="js-button button"></div>
